#deaths {
	position: absolute;
    bottom: 24%;
    left: 2.5%;
	width: 15%;
	text-align: center;
	z-index: 100;
	display:block;
    color: white;
    background-color: green;
}

#time {
	position: absolute;
	/* top: 80%; */
    bottom: 16%;
    left: 2.5%;
	width: 15%;
	text-align: center;
	z-index: 100;
	display:block;
    color: white;
    background-color: blue;
}

#lapTimes {
	position: absolute;
	/* top: 80%; */
    bottom: 6%;
    left: 2.5%;
	width: 15%;
	text-align: center;
	z-index: 100;
	display:block;
    color: white;
    background-color: blue;
}

#Finished {
	position: absolute;
	/* top: 80%; */
    bottom: 50%;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
    color: white;
	font-size: 100px;
    background-color: blue;
}